
@{
    Layout = null;
}

The Sorted Random Numbers are 
@foreach (var number in ViewBag.collection)
{

    <li>@number</li>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
